@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --main-font: 'Inter', sans-serif;
    --primary-color: #8E2424;
    --highlight: rgba(142, 36, 36, 0.05);
    --light-gray: #EAECF0;
    --medium-gray: #667085;
    --dark-gray: #3A404E; 
    --dark: #101828;
}

body {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    font-family: var(--main-font);
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 5rem;
    text-decoration: none;    
    font-weight: 500;
}

.navbar__logo {
    display: flex;
    align-items: center;
    color: var(--dark-gray);
    gap: 0.5rem;
    font-weight: 500;    
    text-decoration: none;
}

.navbar__sections {
   display: flex;
   align-items: center;
   gap: 2rem;
}

.navbar__link {
    color: var(--medium-gray);
    text-decoration: none;
}

.navbar__cadastro {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

button {
    font-size: 1rem;
    border: none;
    background-color: transparent;
    border-radius: 8px;
    padding: 0.8rem 1.3rem;
    color: var(--medium-gray);
    font-weight: 500;
    cursor: pointer;
}

button:hover {
    background-color: var(--light-gray);
}

button#signup {
    background-color: var(--primary-color);
    color: #FFFFFF;
}

.about-us {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5rem 15rem;
    gap: 2.5rem;
}

.about-us__title {
    color: var(--primary-color);
    font-weight: 600;
}

.about-us h2 {
    font-size: 3rem;
    font-weight: 600;
    color: var(--dark);
}

.about-us p {
    color: var(--medium-gray);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.2rem;
}

.metrics-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 2rem 5rem;
    margin-bottom: 8rem;
}

.metrics-container__item {
    padding: 0 1rem;
}

.metrics-container__title {
    font-size: 3.75rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
}

.metrics-container__subtitle {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--dark);
    margin-bottom: .5rem;
}

.metrics-container__description {
    font-size: 1rem;
    font-weight: 400;
    color: var(--medium-gray);
    line-height: 1.5rem;
}

.jobs {
    text-align: center;
}
.jobs__span {
    padding: .5rem .8rem;
    background-color: var(--highlight);
    border-radius: 1rem;
    font-weight: 500;
    font-size: .8rem;
    color: var(--primary-color);
}

.jobs__title {
    font-weight: 600;
    font-size: 2.2rem;
    color: var(--dark);
    margin: 2rem 0;
}

.jobs__text {
    font-weight: 400;
    font-size: 1.25rem;
    color: var(--medium-gray);
    margin: 1rem 0;
}

.jobs img {
    margin: 3rem 0;
}
.jobs__list {
    text-align: left;
    margin: 0 25vw;
}

.jobs__list__field {
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--dark);
    padding: 2rem 0 1rem 0;
}

.jobs__list__item {
    border-radius: 1rem;
    border: 1px solid var(--light-gray);
    padding: 2rem;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.jobs__list__title {
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--dark);
}

.jobs__list__info {
    font-weight: 500;
    color: var(--medium-gray);
    display: flex;
    gap: 1.5rem;
}